<footer class="footer">
    <div class="wrapper">
        <div class="footer-contacts">
            <a href="mailto:sklad@saks.ru">sklad@saks.ru</a><br>
            <a href="tel:79160256335">+7 (916) 025-63-35</a>
        </div>
        <div class="footer-logo">
            <img src="img/logo-footer.png" alt="">
        </div>
        <div class="footer-adress">
            <p>Московская область, п.Крёкшино, Тупиковый проезд, влад.1<br>Территория логистического парка «Крёкшино» группа компаний Raven Russia</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/js-offcanvas@1.2.8/dist/_js/js-offcanvas.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script src="js/script.min.js"></script>