<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="Склады">
<meta name="keywords" content="Склады">

<link rel="icon" href="favicon.ico" type="image/x-icon">

<link href="https://unpkg.com/js-offcanvas@1.2.8/dist/_css/prefixed/js-offcanvas.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<link rel="stylesheet" href="css/style.min.css">

<title>@@name</title>