@import url('/assets/src/style/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    background-color: #e5e5e5;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

*:focus {
    outline: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    background-color: #c43937;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border: 2px solid #c43937;
    &:hover {
        color: #c43937;
        background-color: #fff;
        border: 2px solid #c43937;
        transition: .5s;
        cursor: pointer;
    }
}

.header {
    background-image: url(../img/header_back.jpg);
    background-position: top center;
    // height: 901px;    
    .wrapper {
        .top-header {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 30px;
            align-items: center;
            padding: 15px 0;
            .top-nav-wrp {
                justify-self: right;
                .top-nav {
                    justify-self: flex-end;
                    .link {
                        color: #fff;
                        font-size: 0.875rem;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 15px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .top-phone-wrp {
                justify-self: right;
                .top-phone {
                    color: #fff;
                    font-size: 1.25rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 15px 0 15px 30px;
                    background: url(../img/top_phone_ico.svg) left center no-repeat;
                }
            }
        }
        .text {
            text-align: center;
            padding: 170px 0 200px 0;
            h1 {
                color: #fff;
                max-width: 770px;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 100px;
            }
        }
    }
}

#about {
    background-image: url(../img/rectangle.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 40% 70%;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        align-items: center;
        padding: 150px 15px;
        .text {
            h2 {
                display: block;
                color: #000;
                font-weight: 700;
                &::before {
                    display: block;
                    content: '';
                    width: 90px;
                    height: 6px;
                    background-color: #c43937;
                    margin: 0 0 40px 0;
                }
            }
            p {
                line-height: 1.5rem;
            }
        }
        .image {
            text-align: right;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

#services {
    background-color: #012b5f;
    .wrapper {
        padding: 150px 15px;
        text-align: center;
        h2 {
            display: inline-block;
            color: #fff;
            margin: 0 auto 70px auto;
            &::before {
                display: block;
                content: '';
                width: 90px;
                height: 6px;
                background-color: #c43937;
                margin: 0 auto 40px auto;
            }
        }
        .services-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: (2, 1fr);
            grid-gap: 60px 30px;
            align-items: top;
            justify-items: center;
            margin-bottom: 70px;
            .services-element {
                text-align: center;
                max-width: 212px;
                .image {
                    height: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .title {
                    display: block;
                    color: #fff;
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    &:after {
                        display: block;
                        content: '';
                        // width: 212px;
                        width: 100%;
                        height: 15px;
                        background-color: #c43937;
                        margin: -10px auto 0 auto;
                    }
                }
                .description {
                    color: #fff;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

#advantages {
    background-image: url(../img/rectangle.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 40% 65%;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        align-items: center;
        padding: 150px 15px;
        .text {
            h2 {
                color: #000;
                font-weight: 700;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    span {
                        color: #c439374d;
                        // opacity: .3;
                        font-size: 3rem;
                        font-weight: 900;
                        padding-right: 30px;
                    }
                }
            }
        }
        .image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

#application {
    background-image: url(../img/application-back.png);
    background-color: #012b5f;
    background-repeat: no-repeat;
    background-position: calc(50% + 650px) bottom;
    background-size: contain;
    .wrapper {
        padding: 150px 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .text {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            h2 {
                color: #fff;
            }
            p {
                color: #fff;
                font-size: 1rem;
            }
        }
        input[type='text'] {
            height: 54px;
            border: 2px solid transparent;
            padding: 0 1rem;
        }
        #name {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        #phone {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        #submit {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        #pd-wrp {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            color: #fff;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            input {
                width: 20px;
                height: 20px;
            }
            label {
                margin-left: 10px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        align-items: center;
        padding: 45px 15px;
        .footer-contacts {
            a {
                font-size: 0.875rem;
                display: inline-block;
                padding: 7px 0 7px 25px;
                color: #222222;
                text-decoration: none;
            }
            [href^='mailto'] {
                background: url(../img/email_ico.svg) left center no-repeat;
            }
            [href^='tel'] {
                background: url(../img/phone_ico.svg) left center no-repeat;
            }
        }
        .footer-logo {
            text-align: center;
        }
        .footer-adress {
            font-size: 0.875rem;
            text-align: right;
        }
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
        line-height: 1.5;
        max-width: 100%;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 100%;
    }
    .header {
        .wrapper {
            .top-header {
                grid-column-gap: 0;
                .top-nav-wrp {
                    order: 3;
                    .top-nav {
                        display: none;
                    }
                    .mob-menu-trigger {
                        display: block;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/mob_menu_ico.svg);
                        background-size: contain;
                    }
                }
                .top-phone-wrp {
                    order: 2;
                    .top-phone {
                        font-size: 1rem;
                        background-image: none;
                        padding-left: 0;
                    }
                }
            }
            .text {
                padding: 30px 0 30px 0;
                h1 {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #about {
        background-image: none;
        .wrapper {
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
        }
    }
    #services {
        .wrapper {
            padding: 30px 15px;
            h2 {
                margin-bottom: 30px;
            }
            .services-list {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                margin-bottom: 30px;
                .services-element {
                    text-align: center;
                    max-width: 212px;
                    .image {
                        // height: auto;
                        padding: 0 30px;
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .title {
                        font-size: 1rem;
                    }
                    .description {
                        font-size: .875rem;
                    }
                }
            }
        }
    }
    #advantages {
        background-image: none;
        .wrapper {
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
        }
    }
    #application {
        background-image: none;
        .wrapper {
            padding: 45px 15px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .text {
                grid-column: 1 / 1;
                grid-row: 1 / 2;
            }
            #name {
                grid-column: 1 / 1;
                grid-row: 2 / 3;
            }
            #phone {
                grid-column: 1 / 1;
                grid-row: 3 / 4;
            }
            #submit {
                grid-column: 1 / 1;
                grid-row: 4 / 5;
            }
            #pd-wrp {
                grid-column: 1 / 1;
                grid-row: 5 / 6;
            }
        }
    }
    .footer {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: (3, 1fr);
            text-align: center;
            .footer-contacts {
                order: 2;
            }
            .footer-logo {
                order: 1;
            }
            .footer-adress {
                order: 3;
                text-align: center;
            }
        }
    }
}

#offCanvas {
    background-color: #e5e5e5;
    z-index: 9999;
    padding: 30px 15px;
    .mob-nav {
        .link {
            display: block;
            color: #222222;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 15px;
            text-decoration: none;
        }
    }
}